{% extends 'base.html' %}

{% block title %}All Countries{% endblock %}

{% block content %}

<form method="GET" action="">
    <input type="text" name="name" placeholder="Search Countries by Name" />

    <label for="region">Region:</label>
    <select name="region" id="region">
        {% if region_selected == '' %}
            <option value="" selected="selected"></option>
        {% else %}
            <option value=""></option>
        {% endif %}
        {% for choice in region_choices %}
            {% if region_selected == choice.0 %}
                <option value="{{ choice.0 }}" selected="selected">
                    {{ choice.1 }}
                </option>
            {% else %}
            <option value="{{ choice.0 }}">
                {{ choice.1 }}
            </option>
            {% endif %}
        {% endfor %}
    </select>

    <label for="iso">ISO2 Code:</label>
    <select name="iso" id="iso">
        {% if iso_selected == '' %}
            <option value="" selected="selected"></option>
        {% else %}
            <option value=""></option>
        {% endif %}
        {% for choice in iso_choices %}
            {% if iso_selected == choice.0 %}
                <option value="{{ choice.0 }}" selected="selected">
                    {{ choice.1 }}
                </option>
            {% else %}
                <option value="{{ choice.0 }}">
                    {{ choice.1 }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" value="Search" />
</form>


{% if list_countries %}
<table class="table table-bordered">
    <thead>
        <tr>
          <th>Name: </th>
          <th>ISO2 Code:</th>
        </tr>
    </thead>
    <tbody>
    {% for country in list_countries %}
        <tr>
            <td>
                <a  href="{% url 'country-detail'  country.alpha2Code  %}">
                    {{ country.name }}
                </a>
            </td>
            <td>
                {{ country.alpha2Code }}
            </td>
            <td>
                <div class="col-sm-2"><a  href="{% url 'country-detail' country.alpha2Code  %}"><button class="btn btn-primary btn-md">Details</button></a></div>
            </td>
        </tr>
    {% endfor %}
    </tbody>

    {% load param_replace %}
    {% if is_paginated %}
    <ul class="pagination">

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=1 %}">First</a>
            </li>
            {% if page_obj.previous_page_number != 1 %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
            </li>
            {% endif %}
        {% endif %}

            <li class="page-item">
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            </li>

        {% if page_obj.has_next %}
            {% if page_obj.next_page_number != paginator.num_pages %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
            </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=paginator.num_pages %}">Last</a>
            </li>
        {% endif %}
    </ul>
    {% endif %}

{% else %}
<h1>Not Results</h1>
{% endif %}
{% endblock %}