{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <div class="row">
    <h1>Hi {{ user.username }}!</h1>
  </div>
  <div class="row">
    <div class="col-sm-2"><a href="{% url 'country-list'  %}"><button class="btn btn-primary btn-lg">All Countries</button></a></div>
    <div class="col-sm-2"><a href="{% url 'diplomat-list'  %}"><button class="btn btn-primary btn-lg">All Diplomats</button></a></div>
    <div class="col-sm-2"><a href="{% url 'logout'  %}"><button class="btn btn-primary btn-lg">Logout</button></a></div>
  </div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}